<!-- Botón para volver atrás -->
<button onclick="history.back()" class="d-flex align-items-center justify-content-center">
    <img src="/images/<%= theme %>/go-back.png" alt="Ir atras" width="20" class="img-flecha">
    Ir atrás
</button>