<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/alegre/style.css">

    <!-- Importar JS específicos -->
    <script src="/js/configuration.js"></script>

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="title">CONFIGURACIÓN</h1>
        </div>
        
        <form id="formConfiguration">
            <div class="row justify-content-center mt-5 mb-3">
                <div class="col-12 text-center mt-5">
                    <p class="text-start" style="font-weight: bold; color:#976E07">Apariencia</p>
                </div>

                <div class="col-6 text-center mt-5">
                    <label class="form-label" style="font-weight: bold";>Tamaño de letra</label>
                    <select class="form-control" id="fontSizeSelect" name="font-size">
                        <option value="grande" <% if(configuration.font_size == "grande"){ %>selected <% }%> >Grande</option>
                        <option value="normal" <% if(configuration.font_size == "normal"){ %>selected <% }%>>Normal</option>
                    </select>
                </div>

                <div class="col-6 text-center mt-5">
                    <label class="form-label" style="font-weight: bold";>Tema</label>
                    <select class="form-control" id="themeSelect" name="theme">
                        <option value="alegre" <%if(configuration.theme == "alegre"){ %>selected <%}%>>Alegre</option>
                        <option value="minimalista" <%if(configuration.theme == "minimalista"){ %>selected <%}%>>Minimalista</option>
                    </select>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-start" style="font-weight: bold; color:#976E07">Tareas</p>
                </div>

                <div class="col-6 text-center mt-5">
                    <label class="form-label" style="font-weight: bold";>Preferencia de tiempo</label>
                    <select class="form-control" id="timeSelect" name="time">
                        <option value="corto" <% if(configuration.time_preference == "corto"){ %>selected <% }%> >Corto</option>
                        <option value="largo" <% if(configuration.time_preference == "largo"){ %>selected <% }%>>Largo</option>
                    </select>
                </div>

                <div class="col-6 text-center mt-5"></div>

                <div class="col-6 text-center mt-5">
                    <button type="submit" id="input-sb-updateConfig" class="btn btn-primary btn-block p-2 mx-auto col-4 mb-4">Cambiar configuración</button>
                </div>

                <div class="col-6 text-center mt-5">
                    <button id="button-subscribe" class="btn btn-primary ms-2 mb-2 mt-2">Suscribirse a notificaciones</button>
                </div>
            </div>
        </form>
    </div>
   
    <!-- text to voice button -->  
</body>

</html>