<!DOCTYPE html>
<html lang="es">
    
<body>
    <nav class="d-flex align-items-center justify-content-between main-background">
        <!-- Menú hamburguesa -->
        <button id="button-nav-hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" title="Desplegable del menú">
            <img src="/images/alegre/menu.png" alt="Menú" width="50">
        </button>
        <div id="offcanvasExample" tabindex="-1" aria-labelledby="offcanvasExampleLabel" class="offcanvas offcanvas-start">
            <div class="offcanvas-header main-background">
              <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="btn-close"></button>
            </div>
            <div class="offcanvas-body main-background">
                <div id="functions" class="m-3">
                    <div id="notifications" class="menu-element">
                        <div>
                            <img src="/images/alegre/notifications.png" alt="Notificaciones" width="30"/>
                        </div>
                        <div>
                            <a href="/tareas/crearTarea" class="second-text">Notificaciones</a>
                        </div>
                    </div>

                    <div id="settings" class="menu-element">
                        <div>
                            <img src="/images/alegre/settings.png" alt="Configuración" width="30"/>
                        </div>
                        <div>
                            <a href="/tareas/crearTarea" class="second-text">Configuración</a>
                        </div>
                    </div>

                    <div id="createTask" class="menu-element">
                        <div>
                            <img src="" alt="" width=""/>
                        </div>
                        <div>
                            <a href="/tareas/crearTarea" class="second-text">Crear Tarea</a>
                        </div>
                    </div>
                </div>

                <div>
                    <form id="form-logout" method="POST" action="/logout">
                        <a id="a-logout"><button class="button dangerous-button"><img src="/images/alegre/logout.png" alt="Cerrar Sesión" width="30"/> <span>Cerrar sesión</span></button></a>
                    </form>
                </div>
            </div>
        </div>
        <!-- Inicio -->
        <a id="a-nav" href="/" class="d-flex align-items-center" title="Volver a inicio">
            <img src="/images/logos/logo-no-background-no-text.png" alt="Logo TareApp" width="100">
        </a>
        <!-- Botón de perfil normal -->
        <a href="/perfil" title="Ir al perfil">
            <img id="img-nav-profile" src="/images/alegre/default-user.png" alt="Foto de perfil" width="50">
        </a>
    </nav>
</body>

</html>