<!DOCTYPE html>
<html lang="es">

<body>
    <nav class="d-flex align-items-center justify-content-between bg-ta-primary">
        <!-- Menú hamburguesa -->
        <button id="button-nav-hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" title="Desplegable del menú">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header bg-ta-primary">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-ta-primary">
                <ul>
                    <li><a href="/categorias">Categoria</a></li>
                </ul>
            </div>
        </div>
        <!-- Inicio -->
        <a id="a-nav" href="/" class="d-flex align-items-center" title="Volver a inicio">
            <img src="/images/logos/logoTareApp.png" alt="Logo TareApp" width="100">
        </a>
        <!-- Botón de perfil normal -->
        <button id="button-nav-profile" title="Desplegable del perfil">
            <img id="img-nav-profile" src="/images/default/profile.png" alt="Foto de perfil" width="50">
        </button>
    </nav>
</body>

</html>