body {
    background-color: #ffff;
    font-family: NeutraText, Helvetica, Arial, sans-serif;
    display: flex;
  }
  
  .cba-header {
    display: flex;
    margin: 0 auto;
  }
  
  .cba-header__title {
    font-weight: 400;
    font-size: 46px;
    padding: 38px 0 0 10px;
    margin: 0;
  }
  
  .cba-header__logo {
    height: 106px;
  }
  
  #contenedorLogin{
    border: 4px solid #000000;
    border-radius: 10px;
    background-color: #758BFD ;
  }
  
  #container h1{
    text-align: center;
    margin-top: 5px;
  }

  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('/images/default/profile.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
}