body{
    background-image: url("../images/imagenLogin.jpg"); 
    background-size: cover; /* Cubrir todo el fondo */
}

.loginBox {
    margin-top: 8em;
    background-color: rgb(251, 255, 247);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}