body, html {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.arrow{
    margin-left: 1em;
    margin-right: 1em;
}
.btnCreateTask{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #223BDD;
    color: #fff;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 2em;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #223BDD;
    color: #fff;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #4056f4;
    transform: translateY(-2px);
}

.container-fluid {
    max-width: 1200px;
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.hour-column {
    flex: 0 0 50px; 
    text-align: right;
}

.hour {
    height: 50px; 
    line-height: 50px; 
}

.weekly-calendar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Columnas del día */
.day-column {
    position: relative;
    flex: 1;
    min-height: 1200px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding-top: 1rem; 
    margin-right: 0.1em;
    margin-left: 0.1em;
}

/* Tareas */
.task {
    position: absolute;
    left: 10%;
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: #f0c26c;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    box-sizing: border-box
}

/* Responsive Design */
@media (max-width: 768px) {
    .task{
        padding: 0.1rem; /* Aún más reducido para pantallas pequeñas */
        margin: 0.1rem 0; /* Margen superior e inferior reducido */
        top: calc(var(--task-hour) * 40px + var(--task-minute) / 60 * 40px); /* Asumiendo una altura de fila de 40px en pantallas pequeñas */
    }

    .day-column {
        flex: 1 0 100%; /* Cada columna ocupa el 100% en pantallas pequeñas */
        min-height: 1200px; /* Mantener suficiente altura */
        position: relative; /* Si usa posicionamiento absoluto para tareas */
    }

    .hour-column{
        display: none;
    }
}