/*GENERAL*/
* {
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: #DCDCDC;
    color: #000000;
}

a {
    color: #F1F2F6;
}

/*MODAL*/
.modal-confirm-button {
    border: 1px #8898FA solid;
    background-color: #8898FA;
    color: #F1F2F6;
}

/*BACKGROUND*/
.main-background {
    background-color: #3D53E2;
}

.second-background {
    background-color: #6e76aa;
}

/*TEXTOS*/
.subtitle {
    color:#8898FA;
}

.second-text {
    color: #F1F2F6;
}

/*BOTONES*/
.main-button {
    border: 1px #3D53E2 solid;
    background-color: #3D53E2;
    color: #F1F2F6;
}

.second-button {
    border: 1px #8898FA solid;
    background-color: #8898FA;
    color: #F1F2F6;
}

.dangerous-button {
    border: 1px #D9183B solid;
    background-color: #D9183B;
    color: #F1F2F6;
}

.new-task-button {
    border: 1px #3D53E2 solid;
    background-color: #3D53E2;
    color: #F1F2F6;
}

.view-selected-button {
    border: 1px #8898FA solid;
    background-color: #8898FA;
    color: #F1F2F6;
}

.view-non-selected-button {
    border: 1px #3D53E2 solid;
    background-color: #DCDCDC;
    color: #000000;
}

.arrow-button {
    padding: .5rem;
    border: 1px #8898FA solid;
    border-radius: .7rem;
    background-color: #8898FA;
    color: #F1F2F6;
}

/*ELEMENTOS*/
.card-task {
    color: #F1F2F6;
}

.card-notification {
    color: #F1F2F6;
    background-color: #3D53E2;
}

.link-task{
    background-color: #8898FA;
}

.notifications-badge {
    background-color: #D9183B !important;
}

.div-timer {
    border: 1rem solid #8898FA;
}

.rest-timer {
    border: 1rem solid #458f47;
}

    .checkbox-completed-task:checked {
        border-color: #51A644;
        background-color: #51A644;
    }

/*COLORES ASIGNATURAS Y CATEGORIAS: tienen que estar en español para la BD*/
.rojo {
    background-color: #D9183B;
}

.azul {
    background-color: #3D53E2;
}

.verde {
    background-color: #51A644;
}

.naranja {
    background-color: #E06300;
}

.morado {
    background-color: #B500E0;
}

.rosa {
    background-color: #E11485;
}

/*CALENDARIO DIARIO*/
.card-task-calendar {
    color: #F1F2F6;
}

/*SESION DE ESTUDIO*/
.accordion-task {
    color: #F1F2F6;
}

.accordion-study-session {
    background-color: #8898FA;
    color: #F1F2F6;
}

#span-which-period, #span-num-slot{
    font-size: 2rem;
}

/* --- RESPONSIVENESS --- */
/* Tablets - LG */
@media (max-width: 991.98px) {
    .div-timer {
        border: .75rem solid #8898FA;
    }

    .rest-timer {
        border: .75rem solid #458f47;
    }

    .title {
        font-size: 2rem;
    }
}

/* Móviles - MD */
@media (max-width: 767.98px) {
    .div-timer {
        border: .5rem solid #8898FA;
    }

    .rest-timer {
        border: .5rem solid #458f47;
    }
}