.btnCreateTask{
    margin-left: 2em;
    display: inline-block;
    padding: 10px 20px;
    background-color: #223BDD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnWeek{
    display: inline-block;
    padding: 10px 20px;
    background-color: #223BDD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnDay{
    margin-right: 2em;
    display: inline-block;
    padding: 10px 20px;
    background-color: #223BDD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnList{
    display: inline-block;
    padding: 10px 20px;
    background-color: #223BDD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.day-column {
    border: 1px solid #9b6324;
    padding: 10px;
    border-radius: 5px;
    height: 100%; /* Asegurar que todas las columnas tengan la misma altura */
}

.day-header {
    font-weight: bold;
    margin-bottom: 2px;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    color:rgb(0, 0, 0);
}

.task {
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(233, 172, 115);
    border-radius: 5px;
}

.task-title {
    font-size: 16px;
    color:black;
}

.task-time {
    font-size: 14px;
    color: #423e3e;
}


/* Ajustar el tamaño de la fuente según el tamaño de la pantalla */
@media (max-width: 576px) {
    .day-header {
        font-size: 12px;
    }
    .task-title {
        font-size: 14px;
    }
    .task-time {
        font-size: 12px;
    }
}

/* Ajustar el tamaño de las columnas de los días según el tamaño de la pantalla */
@media (max-width: 992px) {
    .day-column {
        width: 14.285%; /* 100% dividido por 7 días en una semana */
    }
}
