<div class="card-notification">
    <div class="d-grid align-items-center" style="grid-template-columns: 25% 75%;">
        <div class="d-flex justify-content-center">
            <img src="/images/logos/logo-no-background-no-text.png" height="50px">
        </div>
        <div>
            <span><%= r.message %></span>
            <a href="/tareas/tarea/<%= r.idActivity %>">
            <p class="link-task text-center">Ir a la tarea</p>
            </a>
        </div>
    </div>
</div>